<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LetfeDAO">
	<!--등록 관련 -->
	<!--신영범 렛페 등록 1페이지 -->
	<!--김민석 참여 인원 넣어서 다시 건들기 0809 오전 11:51 -->
	<insert id='insertLetfe1' parameterType="LetfeVO">
		INSERT INTO letfe(
		lf_code, fest_scatcode,lf_party,lf_party_max,mem_code
		)VALUES(
		739, (select fest_scatcode from fest_small where
		fest_scatname=#{lf_scatname}),1,#{lf_party_max},(select mem_code from
		member where mem_id=#{mem_id}))
	</insert>

	<select id="max" parameterType="LetfeVO" resultType="Integer">
		select max(lf_code) as lf_code from letfe where mem_code = (select mem_code
		from member where mem_id=#{mem_id})
	</select>


	<!--김민석 렛페 등록 2페이지 :: 달력 -->
	<!--김민석 렛페 등록 2페이지 :: 영범형님꺼가 최초라 업데이트문으로 바꿔야됨!!!!!0803 19:52 -->


	<update id="insertLetfe" parameterType="LetfeVO">
		UPDATE letfe SET
		lf_name=#{lf_name},
		lf_start=#{lf_start},
		lf_end=#{lf_end},
		lf_count=0
		WHERE lf_code = '739'
		<!-- <insert id='insertLetfe' parameterType="LetfeVO"> -->
		<!-- INSERT INTO letfe(lf_code,lf_name,lf_start,lf_end,lf_count)VALUES(717,#{lf_name},#{lf_start},#{lf_end},0) -->
		<!-- </insert> -->
	</update>


	<!--김민석 렛페 등록 3페이지 :: 이미지 08.03 -->
	<insert id="saveLetfe" parameterType="ImgVO">
		INSERT INTO
		image(img_code,img_origin,img_route,img_save,img_type,img_size,img_reg,article_no)
		VALUES(971,#{img_origin},#{img_route},#{img_save},#{img_type},#{img_size},sysdate,739)
		<!--파라미터 갯수 틀린거 없음 -->
		<!--xml에 설정안함 해야됨 했음 -->
	</insert>


	<!--김민석 렛페 등록 3페이지 :: 상세주소 주소 08.03 -->
	<update id="updateLetfe" parameterType="LetfeVO">
		UPDATE letfe SET
		lf_place=#{lf_place},
		lf_info=#{lf_info},
		lf_memo=#{lf_memo},
		lf_content=#{lf_content},
		lf_sim_addr=#{lf_sim_addr},
		lf_detail_addr=#{lf_detail_addr},
		lf_postnum=#{lf_postnum}
		where lf_code = '739'
	</update>

	<!--등록 관련 end -->
	<!--메인 리스트 불러오기 start -->

	<select id="getImgList" resultType="ImgVO">
		SELECT * FROM letfe l,image i where l.lf_code = i.article_no
		<if test='lf_name != null '>
			and lf_name like '%' || #{lf_name} || '%'
		</if>
		<if test='lf_sim_addr != null'>
			and lf_sim_addr like '%' || #{lf_sim_addr} || '%'
		</if>
		<if test='lf_start != null'>
			and lf_start like '%' || #{lf_start} || '%'
		</if>
		<if test='lf_end != null'>
			and lf_end like '%' || #{lf_end} || '%'
		</if>
		ORDER BY l.lf_code desc
	</select>

	<select id="getLefeList" resultType="LetfeVO">
		SELECT * FROM letfe l,image i where l.lf_code = i.article_no
		<if test='lf_name != null '>
			and lf_name like '%' || #{lf_name} || '%'
		</if>
		<if test='lf_sim_addr != null'>
			and lf_sim_addr like '%' || #{lf_sim_addr} || '%'
		</if>
		<if test='lf_start != null'>
			and lf_start like '%' || #{lf_start} || '%'
		</if>
		<if test='lf_end != null'>
			and lf_end like '%' || #{lf_end} || '%'
		</if>
		ORDER BY lf_code desc
	</select>



	<!--동원이한테 보고 다시 페이징 처리 -->
	<select id="totalRecord" resultType="java.lang.Integer">
		select count(*) from letfe
		<if test='lf_name != null '>
			where lf_name like '%' || #{lf_name} || '%'
		</if>
		<if test='lf_sim_addr != null'>
			and lf_sim_addr like '%' || #{lf_sim_addr} || '%'
		</if>
		<if test='lf_start != null'>
			and lf_start like '%' || #{lf_start} || '%'
		</if>
		<if test='lf_end != null'>
			and lf_end like '%' || #{lf_end} || '%'
		</if>
	</select>

	<!--동원이한테 보고 다시 페이징 처리 -->
	<select id="findAll" resultType="LetfeVO">
		select * from (
		SELECT ROWNUM RN, A.* from
		(SELECT * FROM letfe l,image i
		where l.lf_code = i.article_no
		<if test='lf_name != null'>
			and lf_name like '%' || #{lf_name} || '%'
		</if>
		<if test='lf_sim_addr != null'>
			and lf_sim_addr like '%' || #{lf_sim_addr} || '%'
		</if>
		<if test='lf_start != null'>
			and lf_start like '%' || #{lf_start} || '%'
		</if>
		<if test='lf_end != null'>
			and lf_end like '%' || #{lf_end} || '%'
		</if>
		ORDER BY l.lf_code desc)A )
		WHERE RN BETWEEN #{start} AND #{end}
	</select>




	<select id="autocomplete" parameterType="map" resultType="map">

		select lf_code,lf_name from letfe where lf_name LIKE '%'||#{value}||'%'


	</select>

	<select id="autocompleteLocation" parameterType="map"
		resultType="map">

		select * from letfe where lf_sim_addr LIKE '%'||#{value}||'%'

	</select>


	<select id="autocompletesmallcat" parameterType="map"
		resultType="map">

		select * from letfe where lf_end LIKE '%'||#{value}||'%' order by lf_end

	</select>

	<select id="autocompleteStart" parameterType="map"
		resultType="map">

		select * from letfe where lf_start LIKE '%'||#{value}||'%' order by lf_start

	</select>


	<!--클릭할 때 마다 상세페이지 이동 -->

	<!-- 신영범 렛페 상세 페이지 -->
	<select id="letfeinfo" parameterType="Integer"
		resultType="LetfeVO">

		SELECT *
		FROM letfe
		WHERE lf_code=#{lf_code}


	</select>

	<!-- 신영범 렛페 상세 페이지 이미지 -->
	<select id="letfeinfoimg" parameterType="Integer"
		resultType="ImgVO">

		SELECT *
		FROM image
		WHERE img_code=971

	</select>


	<!--조회수 클릭 -->
	<update id="clickLfCnt" parameterType="int">
		UPDATE letfe set
		lf_count = LF_COUNT +1
		where lf_code=#{lf_code}
	</update>


	<update id="insertPartyMember" parameterType="int">
		UPDATE LETFE SET
		LF_PARTY = LF_PARTY + 1
		where lf_code = #{lf_code}
	</update>


	<select id="selectPartyMember" parameterType="int"
		resultType="int">
		select lf_party from letfe
		where lf_code = #{lf_code}
	</select>


	<insert id="insertPartyTable" parameterType="LetfeVO">
		INSERT INTO PARTY(party_code,party_date,lf_code,mem_code)
		VALUES(party_seq.nextval,sysdate,#{lf_code},(select mem_code from
		member where mem_id= #{mem_id}))
	</insert>

	<!--파티 참가 후 같은 회원이 참가 시 중복확인 -->
	<select id="partyCheck" parameterType="LetfeVO"
		resultType="Integer">
		select count(*) from party
		where mem_code = (select mem_code from member where mem_id= #{mem_id})
		and lf_code = #{lf_code}
	</select>
	
	<!-- 신영범 카운트 다운 -->
	<select id="years" parameterType="Integer" resultType="LetfeVO">	
	
		select substr(lf_start, 1, 4) as years from letfe where lf_code=#{lf_code}
	
	</select>
		
	
	<!-- 신영범 카운트 다운 -->
	<select id="months" parameterType="Integer" resultType="LetfeVO">
	
		select substr(lf_start, 6, 2) as months from letfe where lf_code=#{lf_code}
	
	</select>

	<!-- 신영범 카운트 다운 -->
	<select id="days"  parameterType="Integer" resultType="LetfeVO">
	
		select substr(lf_start, 9, 2) as days from letfe where lf_code=#{lf_code}
	
	</select>

</mapper>